<div class="container">
  <h1>Gebruikersrollen</h1>
  <div class="content">

    <p id="info">Verschillende gebruikers hebben toegang tot verschillende systemen. In onderstaant scherm kun jij als
      administrator gebruikers toegang verlenen (of ontnemen) tot één of meerdere van deze systemen.</p>
    <p id="info">De volgende rollen bestaan voor het Rekeningrijden systeem:

      <li>Rekeningrijder <span class="sub">(Toegang tot mijn.rekeningrijden.nl)</span></li>
      <li>Overheid <span class="sub">(Toegang tot overheid.rekeningrijden.nl)</span></li>
      <li>Politie <span class="sub">(Toegang tot politie.rekeningrijden.nl)</span></li>
    </p>

    <h2>Gebruikers</h2>

    <p *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</p>

  </div>
</div>