<div class="container">
  <h1>Gebruikersrollen</h1>
  <div class="content">

    <p id="info">Verschillende gebruikers hebben toegang tot verschillende systemen. In onderstaant scherm kun jij als
      administrator gebruikers toegang verlenen (of ontnemen) tot één of meerdere van deze systemen.</p>
    <p id="info">De volgende rollen bestaan voor het Rekeningrijden systeem:

      <li>Rekeningrijder <span class="sub">(Toegang tot mijn.rekeningrijden.nl)</span></li>
      <li>Overheid <span class="sub">(Toegang tot overheid.rekeningrijden.nl)</span></li>
      <li>Politie <span class="sub">(Toegang tot politie.rekeningrijden.nl)</span></li>
    </p>

    <h2>Gebruikers</h2>

    <table #table mat-table [dataSource]="users | async">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Voornaam </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Achternaam </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Rollen </th>
        <td mat-cell *matCellDef="let element"> {{element.roles.join(', ')}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acties </th>
          <td mat-cell *matCellDef="let element"> <mat-icon>edit</mat-icon> </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>
</div>